.mainForm{
    display: grid;
    grid-template-columns: repeat(2,167px);
    grid-template-rows: repeat(6,33px);
}

.mainForm input,select{
    outline:none;
    margin-bottom: 10px;
}

.btn{
    cursor:pointer;
}

.border{
    border: 1px solid #c9c9c9;
    padding: 8px;
    border-radius: 8px;
}